html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  /* background: #ff0000; */
}

/* for menu drawer */
.menu-drawer {
  transition: right 0.8s cubic-bezier(0.61, 1, 0.88, 1);
}

.languages {
  transform: matrix(1, 0, 0, 1, 0, 0);
  opacity: 1;

  transition: transform 1s cubic-bezier(0.61, 1, 0.88, 1),
    opacity 1s cubic-bezier(0.61, 1, 0.88, 1);
}

.slideleft {
  transform: matrix(1, 0, 0, 1, -300, 0);
}

.introduction.show,
.skills.show {
  transform: matrix(1, 0, 0, 1, 0, 0);
  opacity: 1;
}

.introduction {
  transform: matrix(1, 0, 0, 1, 0, -300);
  opacity: 0;
  transition: transform 1s cubic-bezier(0.61, 1, 0.88, 1),
    opacity 1s cubic-bezier(0.61, 1, 0.88, 1);
}

.skills {
  transform: matrix(1, 0, 0, 1, 0, 500);
  opacity: 0;
  transition: transform 1s cubic-bezier(0.61, 1, 0.88, 1),
    opacity 1s cubic-bezier(0.61, 1, 0.88, 1);
}

.chart {
  font-size: 0.4em;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  width: 300px;
}

.bar {
  font-size: 0.5em;
  position: relative;
  height: 10em;
  transition: all 0.3s ease-in-out;
  transform: rotateX(60deg) rotateY(0deg);
  transform-style: preserve-3d;
}

.bar .top {
  transform: rotateX(0deg) rotateY(0) translateX(0em) translateY(4em)
    translateZ(2em);
}

.bar .face {
  font-size: 2em;
  position: relative;
  width: 100%;
  height: 2em;
  background-color: rgba(254, 254, 254, 0.3);
}
.growing-bar,
.side-a {
  background-color: rgba(236, 0, 140, 0.6);
}
/* .bar-75 .growing-bar {
  width: 75%;
} */
.growing-bar {
  transition: all 0.3s ease-in-out;
  background-color: rgba(236, 0, 140, 0.6);
  /* width: 100%; */
  height: 2em;
}

.bar .side-0 {
  transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em)
    translateZ(-1em);
}
.side-0 .growing-bar {
  box-shadow: -0.5em -1.5em 4em rgb(236 0 140 / 80%);
}

.bar .floor {
  box-shadow: 0 0.1em 0.6em rgb(0 0 0 / 30%), 0.6em -0.5em 3em rgb(0 0 0 / 30%),
    1em -1em 8em #fefefe;
}
.floor .growing-bar {
  box-shadow: 0em 0em 2em rgb(236 0 140 / 80%);
}

.bar .side-b {
  transform: rotateX(90deg) rotateY(-90deg) translateX(4em) translateY(1em)
    translateZ(-1em);
  position: absolute;
  right: 0;
}

.bar .face.side-b {
  width: 2em;
}

.bar .side-1 {
  transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em)
    translateZ(3em);
}

.w-1\/12 {
  width: 8.333333%;
}
.w-2\/12 {
  width: 16.666667%;
}
.w-3\/12 {
  width: 25%;
}
.w-4\/12 {
  width: 33.333333%;
}
.w-5\/12 {
  width: 41.666667%;
}
.w-6\/12 {
  width: 50%;
}
.w-7\/12 {
  width: 58.333333%;
}
.w-8\/12 {
  width: 66.666667%;
}
.w-9\/12 {
  width: 75%;
}
.w-10\/12 {
  width: 83.333333%;
}
.w-11\/12 {
  width: 91.666667%;
}
.h-1\/12 {
  height: 8.333333%;
}
.h-2\/12 {
  height: 16.666667%;
}
.h-3\/12 {
  height: 25%;
}
.h-4\/12 {
  height: 33.333333%;
}
.h-5\/12 {
  height: 41.666667%;
}
.h-6\/12 {
  height: 50%;
}
.h-7\/12 {
  height: 58.333333%;
}
.h-8\/12 {
  height: 66.666667%;
}
.h-9\/12 {
  height: 75%;
}
.h-10\/12 {
  height: 83.333333%;
}
.h-11\/12 {
  height: 91.666667%;
}

/* .book{
  width: 300px;
  padding-bottom: 150%;
} */

.book,
.book-cover {
  width: 50vw;
  height: 75vw;
}

@media (min-width: 900px) {
  .book,
  .book-cover {
    width: 40vw;
    height: min(60vw, 90vh);
  }
}

.circuit-svg {
  /* margin-top: 7rem; */
  position: absolute;
  opacity: 0.5;
}

.path {
  animation: draw 14s infinite;
  animation-timing-function: linear;
}

.path-2 {
  animation: draw 14s infinite;
  animation-delay: 1s;
  animation-timing-function: linear;
}

@keyframes draw {
  0% {
  }
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}

.text-silver {
  color: silver;
}
.plane-image {
  transform: rotateY(180deg) rotateZ(40deg);
}

.plane-image {
  offset-path: path("M27,15 C211,2 404,106 483,245");
  animation: move 3000ms forwards ease-in-out;
}

.card {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 300px; */
  /* width: 250px; */
  /* background: linear-gradient(#f9bc61, #fde8c9); */
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  /* border-radius: 8px; */
  transition: transform 0.5s ease-in-out;
}

.card-container {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
.pointer-none-children-strict {
  pointer-events: none !important;
}

.pointer-none-children-strict * {
  pointer-events: none !important;
}
.pointer-events-strict {
  pointer-events: auto !important;
}

/********************************************/

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}
.timeline ul li:last-child {
  padding-bottom: 30px;
}
.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  z-index: 2;
  background: #eee;
}
.timeline ul li:last-child::after {
  bottom: 30px;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 20px;
  background: #fff;
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.timeline ul li div time {
  position: absolute;
  background: #f5af19;
  color: white;
  width: auto;
  padding-left: 4px;
  padding-right: 4px;
  height: 30px;
  top: -15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
.timeline ul li div div {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeline ul li div div p {
  text-align: center;
}
.timeline ul li div .discovery {
  margin-right: 10px;
}
.timeline ul li:nth-of-type(odd) > div {
  left: 45px;
}
.timeline ul li:nth-of-type(even) > div {
  left: -439px;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-of-type(odd) div {
  transform: translate3d(100px, -10px, 0) rotate(10deg);
}
.timeline ul li:nth-of-type(even) div {
  transform: translate3d(-100px, -10px, 0) rotate(10deg);
}
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
    flex-direction: column;
  }
  .timeline ul li div div {
    width: 80%;
    margin: 10px;
  }
  .timeline ul li:nth-of-type(even) > div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  body {
    background: #8bfff4;
  }
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-of-type(even) > div {
    left: 45px;
  }
}

canvas {
  z-index: 0 !important;
  background: transparent;
}
